.articles{

    &__section{
        padding-top: 12rem;
        background-color: $pure-white;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            height: 34%; /* The height of the blue part */
            @include primary-gradient;
            z-index: 0; /* Places it behind the content */
        }
    }
    &__content{
        position: relative;
        z-index: 1; /* Ensures the content stays on top */
        color: $error-color;
    }
}