.articles {
  margin-bottom: -2rem;
  &__section {
    background-color: $pure-white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 317px;
      /* The height of the blue part */
      background-color: $primary-primary;
      z-index: 0;
      /* Places it behind the content */
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    /* Ensures the content stays on top */
    color: $error-color;
  }

  &__section-title {
    color: $tuna-900;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__nav-btn {
    @include secondary-gradient;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &.swiper-button-disabled {
      opacity: 0.4;
    }
  }

  .swiper {
    padding-bottom: 4rem;

    .swiper-pagination-bullet {
      --swiper-pagination-bullet-inactive-color: #e9e7d6;
      --swiper-pagination-bullet-inactive-opacity: 1;

      width: 7px;
      height: 7px;
      transition: width 0.4s linear;
      border-radius: 10px;
    }

    .swiper-pagination-bullet-active {
      --swiper-pagination-color: #bc9665;
      width: 42px;
      height: 7px;
      border-radius: 10px;
    }
  }

  .swiper-pagination {
    --swiper-pagination-bottom: 1.25rem;
  }
}

.article-card {
  background-color: $pure-white;
  border-radius: 1.5rem;
  overflow: hidden;

  &--is-second-bg {
    background-color: $seconday-50;
  }

  &__img {
    height: 70%;
    width: 100%;
  }

  &__content {
    padding: 1.5rem;
  }

  &__title {
    font-size: 1rem;
    color: $tuna-950;
    margin-bottom: 0.8rem;
  }

  &__date {
    @include fontSizeForScreens(1rem);
    color: $tuna-800;
    margin-bottom: 0.5rem;
    font-family: var(--font-gothamBook);
  }
  &__recource-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 1rem;
  }
  &__recource-name {
    font-family: var(--font-gothamBook);
    font-size: 14px;
    color: $tuna-900;
  }
}
