.photos {
  &__description {
    line-height: 1.6;
    font-family: var(--font-ncs);
    @include responsiveFontSize(16px, 24px);
  }

  .arrow-icon {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 4;
    transition: all 0.3s linear;
    opacity: 0;
  }

  .swiper-slide-item {
    overflow: hidden;

    img,
    &::after {
      border-radius: 12px;
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: 12px;
      inset: 0;
      opacity: 0;
      transition: all 0.3s linear;
      background: linear-gradient(
          122deg,
          rgba(9, 4, 77, 0.75) 4.25%,
          rgba(201, 154, 100, 0.75) 101.53%
        ),
        lightgray 50% / cover no-repeat;
      background-size: cover;
      z-index: 0;
    }

    &:hover {
      &::after {
        z-index: 2;
        opacity: 0.75;
      }

      .arrow-icon {
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
}

#photo-modal-wrapper {
  position: fixed;
  z-index: 110;
  background-color: white;
  overflow-y: scroll;

  .header {
    transform: translateY(-100%);

    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1500ms
      forwards;

    @include respond(md) {
      animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 750ms
        forwards;
    }
  }

  .breadcrumb-wrapper {
    transform: translateY(100%);
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1500ms
      forwards;

    @include respond(md) {
      animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 750ms
        forwards;
    }
  }

  @include respond(maxMd) {
    top: 0;
    left: 0;
    width: 100vw;

    .hero-section {
      animation: fade-out 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      forwards;
    }
    
    &.full-screen {
      height: 100vh;
    }

    .header {
      animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms
        forwards;
    }

    .breadcrumb-wrapper {
      animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms
        forwards;
    }
  }

  @include respond(md) {
    &.full-screen {
      height: 100vh;
      width: 100vw;
      margin: 0;
      border-radius: 0;
      top: 0;
      left: 0;
    }

    transition: all 0.4s linear;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    min-height: var(--min-height);
    margin: var(--margin);
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    transform: translateY(20%);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.photo-modal-item {
  cursor: pointer;
}
