.shortcuts {
  background-color: $seconday-50;
  max-width: 100vw;
  overflow: hidden;
  &__container {
    overflow: visible;

    .swiper {
      overflow: visible;
    }
  }

  &__heading {
    color: $tuna-900;
    font-family: var(--font-ncs);
    font-size: 1.25rem;
  }

  &__main-title {
    color: $secondary-secondary;
  }

  &__card {
    background: $pure-white;
    background: linear-gradient(90deg, $pure-white 0%, $pure-white 100%);

    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    > * {
      position: relative;
      z-index: 1;
    }

    // Overlay gradient
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $secondary-secondary;

      z-index: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &--blank {
      background: $secondary-secondary;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .shortcuts__link-title,
      .shortcuts__count {
        color: $white;
      }
      svg {
        fill: $white;
      }
    }
  }

  &__icon {
    border-radius: 0.8rem;
    background-color: $seconday-100;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    box-sizing: border-box;
  }

  &__link-title {
    font-family: var(--font-ncs);
    font-size: 14px;
    color: $tuna-950;
    transition: color 0.3s;
  }

  &__count {
    font-family: var(--font-gothamBook);
    font-size: 14px;
    transition: color 0.3s;
    color: $seconday-600;
  }

  svg {
    transition: all 0.3s;
  }
}
