.reports {
  position: relative;

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    // width: 94%;
    margin: auto;
  }

  &__section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    background: $primary-primary;
  }

  &__section-title {
    font-family: var(--font-ncs);
    color: $tuna-50;
    @include responsiveFontSize(16px, 24px);
  }

  &__logo-pattern {
    position: absolute;

    left: 0;

    top: 50%;
    transform: translateY(-50%);
  }
}

.report-card {
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba($color: $pure-white, $alpha: 0.08);
  position: relative;
  overflow: hidden;

  &__date {
    color: $pure-white;
    font-size: 14px;
    font-family: var(--font-gothamLight);
  }

  &__title {
    font-size: 1.125rem;
    color: $tuna-100;
    font-family: var(--font-gothamBold);
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    cursor: pointer;
    z-index: 2;
    position: relative;
    transition: all 0.3s linear;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link-icon {
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: $pure-white;
    background: linear-gradient(90deg, $pure-white 0%, $pure-white 100%);
    padding: 1rem;
    min-width: 3.25rem;
    width: 3.25rem;
    height: 3.25rem;
    transition: transform 0.3s ease-in-out;
  }

  &__recource-icon {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 1rem;
  }

  &__recource-name {
    color: $tuna-50;
    font-size: 14px;
    font-family: var(--font-gothamLight);
  }

  &__image {
    display: none;
    position: absolute;
    top: 110%;
    right: 80px;
    z-index: 1;
    transform: rotate(5.069deg) translateY(0);
    opacity: 0;
    transition: 
    //
      all 0.25s linear, opacity 0.5s linear;
  }

  &:hover {
    cursor: pointer;

    .report-card {
      &__title {
        color: $secondary-secondary;
      }
    }
  }

  @include respond(lg) {
    .report-card {
      &__image {
        display: block;
      }
    }

    &:hover {
      .report-card {
        &__image {
          opacity: 1;
          top: 50%;
          transform: rotate(5.069deg) translateY(-50%);
        }

        &__link-icon {
          transform: translateY(-40px);
        }
      }
    }
  }
}
