.reports{

    position: relative;
    &__section{
        padding-top: 10rem;
        padding-bottom: 12rem;
        position: relative;
        @include primary-gradient;

    }
    &__section-title{
        color: $tuna-50;
        @include fontSizeForScreens(2.4rem);
        width: 82.5%;
    }
    &__content{
        margin-top: 6.5rem;
        margin-bottom: 6.5rem;
    }
    &__logo-pattern {
        position: absolute;
    
        left: 0;
        
        top: 50%;
        transform: translateY(-50%);
      }
}
.report-card{
    padding: 4rem 0;
    border-bottom: 1px solid rgba($color: $pure-white, $alpha: 0.08);
    &__date{
        color: $pure-white;
        @include fontSizeForScreens(1.4rem);
        font-family: var(--font-gothamBook);
        
    }
    &__title{
        color: $tuna-100;
        font-family: var(--font-gothamBold);
        margin-top: 1.2rem;
        margin-bottom: 1.6rem;
        cursor: pointer;
        @include fontSizeForScreens(2rem);
        @include lineheightForScreens(2.8rem);
        &:hover{
            text-decoration: underline;
        }
    }
    &__link-icon{
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        background: $pure-white;
        background: linear-gradient(90deg, $pure-white 0%, $pure-white 100%);
        padding: 1rem;
        @include dimsForScreens(5rem,5rem);

        
        //centered 
    }
    &__recource-icon{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-right: 1rem;
    }
    &__recource-name{
        @include fontSizeForScreens(1.4rem);
        @include lineheightForScreens(2rem);
        color: $tuna-50;
    }
}