.page-book-chapters {
  .c-page-book-chapter {
    background-color: $pure-white;
    padding: 24px;
    border-radius: 1rem;
    position: relative;
    border-radius: 20px;
    min-height: 120px;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .c-page-book-chapter__link {
    span {
      font-size: 14px;
      font-family: var(--font-gothamMedium);
      color: $secondary-secondary;
      transition: all 0.3s ease-in-out;
    }

    svg {
      transition: all 0.3s ease-in-out;
      color: $secondary-secondary;

    }
    &:hover svg {
      transform: translateY(-8px);
    }
  }
}
