.page-photo-details,
.page-article-details {
  .breadcrumb-wrapper {
    border: none;
    transform: translateY(10%);
    animation: slide-top 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  .story-content {
    p {
      font-size: 1.2rem;

      a {
        color: $primary-600;
        text-decoration: underline;
      }

    }

    blockquote {
      border-left: 5px solid $secondary-secondary;
      color: $tuna-800;

      font-size: 1.15rem;
      font-style: italic;
      line-height: 1.8em;
      margin: 1rem;
      padding: 0 0.6rem;
      position: relative;
      transition: 0.2s border ease-in-out;
      z-index: 0;
    }



    blockquote:active:after {
      transform: rotateY(360deg);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .hero-section {
    position: relative;
    margin-top: -119px;
    height: 90vh;
    max-height: 900px;

    background-position: center;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 100%);

      opacity: 0.7;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .hero-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;

    .swiper-slide {
      width: 90%;
    }

    @include respond(m) {
      .swiper-slide {
        width: 430px;

        img {
          width: 430px;
          height: 315px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.photos-wrapper {
  .photo-modal-item {
    position: relative;
  }

  .arrow-icon {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 4;
    transition: all 0.3s linear;
    opacity: 0;
  }

  .photo-modal-item::after {
    content: "";
    position: absolute;
    border-radius: 12px;
    border-radius: 12px;
    inset: 0;
    opacity: 0;
    transition: all 0.3s linear;
    background: linear-gradient(122deg,
        rgba(9, 4, 77, 0.75) 4.25%,
        rgba(201, 154, 100, 0.75) 101.53%),
      lightgray 50% / cover no-repeat;
    background-size: cover;
    z-index: 0;
  }

  .photo-modal-item:hover {
    &::after {
      z-index: 2;
      opacity: 0.75;
    }

    .arrow-icon {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
}