.about {
  background: $primary-primary;
  position: relative;
  color: $white;

  &__content {
    min-height: 70vh;
  }

  &__description {
    color: #f6f5ef;
    font-family: var(--font-gothamLight);
    font-size: 14px;
  }

  &__img-wrapper {
    width: 80%;
    position: relative;
    overflow: hidden;
    margin-top: -85%;
    transform: translateY(50%);
    margin-bottom: 30%;
  }

  &__profile {
    position: relative;
    width: 100%;
    height: auto;
  }

  &__pattern {
    height: 50rem;
    width: 67rem;
    position: absolute;
    bottom: -15rem;
    z-index: 1;
  }

  &__text {
    --section-title-font-size: 1rem;
  }

  &__heading {
    font-family: var(--font-ncs);
    font-size: calc(3.2rem - ($baseCalcValue * 2 * 3.2rem));
    line-height: calc(4.4rem - ($baseCalcValue * 2 * 4.4rem));
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;

    @include respond(2xl) {
      font-size: calc(3.2rem - ($baseCalcValue * 3.2rem));
      line-height: calc(4.4rem - ($baseCalcValue * 4.4rem));
    }

    @include respond(3xl) {
      font-size: 3.2rem;
      line-height: 4.4rem;
    }
  }

  &__logo-pattern {
    width: 154.032px;
    height: 240.981px;
    position: absolute;
    right: -20px;
    bottom: 0;
  }
}
