.about {
  background: $primary-primary;
  position: relative;
  color: $white;
  z-index: 5;
  max-width: 100vw;

  &__content {
    min-height: 450px;

    @include respond(lg) {
      padding-top: 2rem;
    }
  }

  &__description {
    color: #f6f5ef;
    font-family: var(--font-gothamLight);
    font-size: 14px;
    @include respond(md) {
      font-size: 16px;
      line-height: 24px;
    }
    line-height: 21px;
    p{
      font-size: 1rem !important;
  line-height: 1.50rem !important;
  margin-bottom: 1rem;
    }
   &.text-small{
    p{
      font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  margin-bottom: 1rem;
    }
   }
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    border-end-start-radius: 2rem;
    border-end-end-radius: 2rem;

    @include respond(maxMd) {
      margin-top: -55%;
      transform: translateY(55%);
      margin-bottom: 30%;
    }

    @include respond(maxLg) {
      margin-top: -40%;
      transform: translateY(50%);
      margin-bottom: 20%;
    }

    @include respond(lg) {
      margin-top: 0;
      border-radius: 0;
    }

    @include respond(max2xs) {
      margin-top: -85%;
    }
    @include respond(maxS) {
      margin-top: -65%;
    }

    // @include respond(2xl) {
    //   max-width: 400px;
    // }
  }

  &__profile {
    position: relative;
    width: 100%;
    // height: auto;
    height: 450px;
  }

  &__pattern {
    height: 45rem;
    width: 67rem;
    position: absolute;
    bottom: -20rem;
    z-index: 1;
  }

  &__text {
    @include respond(md) {
      --section-title-font-size: 1rem;
    }
  }

  &__heading {
    font-family: var(--font-ncs);
    margin-top: 0.8rem;
    margin-bottom: 12px;
    font-size: 24px;
  }

  .logo-pattern {
    display: none;
    opacity: 0.4;
    position: absolute;
    right: 0;
    @include respond(m) {
      display: block;
      bottom: -12rem;
      width: 11%;

      svg {
        // width: 140px;
        width: 100%;
      }
    }

    @include respond(2xl) {
      svg {
        // width: 200px;
        width: 100%;
      }
    }
  }
}
