.animated-logo {
  path {
    animation: dash var(--animated-logo-time, 5s) ease-in-out infinite
      var(--animated-logo-delay, 0s) alternate;
  }

  &.icon--left {
    transform: rotateY(180deg);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
