.heading {
  &__line {
    height: 1px;
    width: 11.3rem;
    @include secondary-gradient;
    // margin-left: 1.6rem;

    &--white {
      background: $primary-50;
      width: 5.1rem;
      margin-right: 1.6rem;
    }
  }

  &__text {
    font-family: var(--font-ncs);
    @include secondary-gradient;
    color: transparent; // This will make the text transparent
    background-clip: text;
    line-height: 3.6rem;
    font-size: var(--section-title-font-size, .9rem);
    text-transform: uppercase;
    &--white {
      background: none;
      color: $primary-50;
    }
  }
}
