.page-transition {
  background: linear-gradient(90deg, #ae8556 0%, #90794c 100%);
  transition: all 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 100% 100%;

  &-layers {
    .right-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      bottom: 0;
      right: auto;
      transition: all 2.75s cubic-bezier(0.645, 0.045, 0.355, 1);
      z-index: 10;
      background: $primary-50;
    }

    .right-layer--2 {
      left: 150%;
      background: $primary-primary;
    }
  }

  &.is--hidden {
    animation: hide-section 0s linear 3000ms forwards;
    transform: translateX(-140%);

    .animated-logo,
    .shapes {
      opacity: 0;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .right-layer {
      left: -150%;
    }
  }

  @keyframes hide-section {
    0% {
      display: flex;
      background: none;
    }

    100% {
      display: none;
    }
  }

  .animated-logo {
    width: clamp(150px, 150px + 10vw, 400px);
  }

  .shapes {
    position: fixed;
    width: 100%;
    height: 100%;

    &-top,
    &-bottom {
      position: absolute;
    }

    &-top {
      top: -40px;
    }

    &-bottom {
      bottom: -550px;
      right: -30px;
    }
  }
}
