.showMore-btn{
    @include secondary-gradient-2;
    border: 1px solid #C29C6C;
    padding: 1.7rem  3rem 1.7rem  2.4rem;
    border-radius: 6rem;
    position: relative;
    overflow: hidden;
    >* {
        position: relative;
        z-index: 1;
    }

    // Overlay gradient
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include secondary-gradient;

        z-index: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    svg{
        @include dimsForScreens(1.3rem,1.3rem);
        transition: all 0.9s;
        
    }
    span{
        margin-right: 1.2rem;
        line-height: 2.2rem;
        @include secondary-gradient;
        color: transparent;
        background-clip: text;
        @include fontSizeForScreens(1.6rem);
        transition: color 0.3s;
    }
    &:hover {
        &::before {
            opacity: 1;
        }

        span{
            color: $white;
        }
        svg{
            fill: $white;
        }
    }
}