
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

      
html {
  font-size: 10px;

  @include respond(xl){
  font-size: 11px;

  }
  
}
    
body {
  box-sizing: border-box;
  font-family: var(--font-gothamBook);
  font-size: $default-font;
  color: $text-main;

  overflow-x: hidden;
     
  position: relative;   
  background-color: #f9f9f9;
 
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img{
  max-width: 100%;
  height: auto;
}
