:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: var(--font-gothamMedium);
  font-size: $default-font;
  color: $text-main;
  overflow-x: hidden;
  position: relative;
  // background-color: $seconday-50;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: calc(1.6rem - ($baseCalcValue * 2 * 1.6rem));
  line-height: calc(2.8rem - ($baseCalcValue * 2 * 2.8rem));

  @include respond(2xl) {
    font-size: calc(1.6rem - ($baseCalcValue * 1.6rem));
    line-height: calc(2.8rem - ($baseCalcValue * 2.8rem));
  }

  @include respond(3xl) {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
h1 {
  font-family: var(--font-ncs);
}

.font-gothamBold {
  font-family: var(--font-gothamBold);
}
.font-gothamMedium {
  font-family: var(--font-gothamMedium);
}
.font-ncs {
  font-family: var(--font-ncs);
}
.font-gothamBook {
  font-family: var(--font-gothamBook);
}
.font-gothamLight {
  font-family: var(--font-gothamLight);
}

.container {
  @include respond(xl) {
    max-width: 1140px !important;
    padding: 0 !important;
  }
}