@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}


@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @mixin posCenter {
   position: absolute;
   top: 50%; 
   left: 50%;
   transform: translate(-50%,-50%);
  }
@mixin respond($breakpoint){
    @if $breakpoint == 2xs{
        @media (min-width: 365px) { //400
            @content
        };
    }
    @if $breakpoint == xs{ 
        @media (min-width: 480px) { //400
            @content
        };
    }
    @if $breakpoint == s{
        @media (min-width: 640px) { //600
            @content
        };
    }
   
    @if $breakpoint == m{
        @media (min-width: 768px) { //900
            @content
        };
    }
    @if $breakpoint == lg{
        @media (min-width: 1024px) { //1100
            @content
        };
    }
    @if $breakpoint == xl{
        @media (min-width: 1280px) { //1800
            @content
        };
    }
    @if $breakpoint == 2xl{ 
        @media (min-width: 1536px) { //1800
            @content
        };
    }  
    @if $breakpoint == 3xl{ 
        @media (min-width: 1900px) { //2500
            @content
        };
    }
    @if $breakpoint == h{
        @media (max-height: 500px) { //400
            @content
        };
    }

}



