
$main:#5B315E;
$sub:#FFB71B;

$second:#E6427A;
$third:#2E1A46; 

$error-color:#C70833;

$text-main:#333333;
$text-sub:#7F8384;
$text-second:#B7B7BA;
$icon-color:#A2A2A2;
$icon-color-2:#8B8B8B;
$input-color:#F4F4F4;
$disabled-color: #E8E8E8;
$bg-color:#FCFCFC;
$white:#ffffff;

$border-radius:6px;
$box-shadow:0px 10px 50px rgba(#000000,.04);
$box-shadow-2:0px 3px 50px rgba(#000000,.1);


$default-font:1.6rem;
