
$main:#5B315E;
$sub:#FFB71B;

$second:#E6427A;
$third:#2E1A46; 

$error-color:#C70833;

$text-main:#333333;
$text-sub:#7F8384;
$text-second:#B7B7BA;
$icon-color:#A2A2A2;
$icon-color-2:#8B8B8B;
$input-color:#F4F4F4;
$disabled-color: #E8E8E8;
$bg-color:#FCFCFC;

$border-radius:6px;
$box-shadow:0px 10px 50px rgba(#000000,.04);
$box-shadow-2:0px 3px 50px rgba(#000000,.1);


$default-font:1.6rem;

//colors
$white:#F6F5F0;
$pure-white:#ffffff;

$primary-50: #F2F4FF;
$primary-100: #E7EAFF;
$primary-200: #D1D6FF;
$primary-300: #ADB3FF;
$primary-400: #7E81FF;
$primary-500: #4E4AFF;
$primary-600: #3625FF;
$primary-700: #2713EE;
$primary-800: #200FC8;
$primary-900: #1D0FA3;
$primary-950: #08044A;
$primary-primary: #0C356A;

$seconday-50: #FEFAEF;
$seconday-100: #E9E7D8;
$seconday-200: #D4D0B4;
$seconday-300: #BBB489;
$seconday-400: #A79B68;
$seconday-500: #988A5A;
$seconday-600: #8C7A52;
$seconday-700: #69593F;
$seconday-800: #5A4A39;
$seconday-900: #4E4135;
$seconday-950: #2C231C;
$secondary-secondary: #BC9665;

$tuna-50: #F5F5F9;
$tuna-100: #E8E8F1;
$tuna-200: #D7D8E6;
$tuna-300: #BBBCD5;
$tuna-400: #9A9CC0;
$tuna-500: #8382AF;
$tuna-600: #7470A0;
$tuna-700: #6A6491;
$tuna-800: #5B5578;
$tuna-900: #4B4761;
$tuna-950: #383546;

$baseCalcValue: 0.16;
